.lista {
    margin-top: 2rem;
    width: 400px;
}

.lista ol {
    list-style: none;
    padding: 0;
}

.lista li {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.lista li:hover {
    transform: scale(1.03);
    background: #1a1a1a;
}

.favorito {
    border: 2px solid #4f46e5;
    background: #1e1e3f;
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.5);
}

.lista li::before {
    content: counter(item);
    counter-increment: item;
    margin-right: 10px;
    color: #22229c;
    font-weight: bold;
}

.lista ol {
    counter-reset: item;
}