.score-box {
    margin-top: 2rem;
    background: #111;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255,255,255,0.05);
}

.score-box p {
    color: #aaa;
}

.score-box h2 {
    font-size: 2rem;
    margin-top: 10px;
}

.botoes {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
}

.botoes button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.botoes button:first-child {
    background: #00cc66;
}

.botoes button:last-child {
    background: #cc0000;
}

.botoes button:hover {
    transform: scale(1.05);
}