.galeria {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.galeria img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
}

.detalhes {
    margin-top: 2rem;
    padding: 1.5rem;
    background: #111;
    border-radius: 15px;
    display: none;
    text-align: center;
}